body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:#F4FDD9;
}
#main-content {
    background: #fff;
    width: 1000px;
    margin: 40px auto 0 auto;  /* 40px space above, centered horizontally */
    border-radius: 18px;    /* Rounded corners only */
    box-shadow: none;       /* No shadow */
    padding: 0 0 20px 0;             /* No extra space inside */
}
.hero {

    background-image: url('/images/lagos-view.jpeg');
    background-size: cover;         /* Ensures the image covers the section */
    background-position: center;    /* Centers the image */
    background-repeat: no-repeat;   /* Prevents tiling */
    text-align: center;
    height: 340px;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
   margin-bottom: 0;    /* Remove space below hero */
   padding-bottom: 0;   /* Remove any bottom padding */
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}
.lagos-description{
   text-shadow: 0 0 1px black;
   background-color: #222831; 
   margin: 0 ;
   padding: 5px 15px;
}
#hometown{
    padding: 5px 15px;
    background-color: #1d2024;
}
.section2{
    display: flex;
    text-align: center;
    justify-content: space-around;
 
    
}
#bg{
    background: #F1FAEE;
       margin-top: 0;       /* Remove space above next section */
       padding-top: 30px   /* Remove any top padding */
}
.img-example {
   width: 100px;
    border-radius: 50%;
    height: 100px;
}
#title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20

}
.activity {
   width: 250px;
   text-align: center;

}
.card-section{
    display: flex;
    justify-content: space-around;
   margin: 50px auto 50px auto;
    width: 600px;
    height: auto;
    border: none;
 border-radius: 20px;
 background: skyblue;
    padding: 20px;
}
#portrait {
    width: 200px;
    height: 300px;
}
.card-content {
 text-align: center;
 width: 200px;
 height: 300px;
}